<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>HOME</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
    <h1>WELCOME TO CARDMMO <%= pseudo %></h1>
    <a href="api/view/login">LOGIN</a>
    <a href="api/view/logout">LOGOUT</a>
    <% if (pseudo){ %> <a href="api/view/profile">PROFILE</a> <%}%>
    <p><%= character %></p>
</body>
</html>