<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>HOME</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
    <h1>WELCOME TO CARDMMO</h1>
    <form action="/api/login" method="POST">
      <p>You can log with email or pseudo (CASE SENSITIVE)</p>
        <div class="mb-3">
            <label for="InputPseudo" class="form-label">Pseudo</label>
            <input type="text" name="Pseudo" class="form-control" id="InputPseudo" >
          </div>
          <div class="mb-3">
            <label for="InputEmail" class="form-label">Email</label>
            <input type="text" name="Email"class="form-control" id="InputEmail" >
          </div>
          <div class="mb-3">
            <label for="Password" class="form-label">Password</label>
            <input type="Password" name="Password" class="form-control" id="Password">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>